body {
    background-color: blue;
}

h1 {}

h2 {}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}

@media only screen and (min-width: 375px) {
    h1 {
        font-size: 10px;
    }

    body {
        font-size: 18px;
        margin: 10px;
        background-color: red;
    }
    
    #header {
        color:blueviolet;
    }
}

@media only screen and (min-width: 900px) {
   body {
    background-image: url('#');
   }

   #cat-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
}

@media only screen and (min-width: 1020px) {
    body {
     background-color: orange;
     max-width: 1080px;
     margin: 20px auto;
    }
 
    #cat-pictures {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    }
 }
 
